:root {
  --clr-bg-color: hsl(0, 0%, 0%);
  --clr-text-color: hsl(0, 0%, 100%);
  --clr-green-accent: hsl(170, 91%, 30%);
  --clr-logo-bg: hsl(0, 0%, 0%, 50%);
  --clr-dark-gry: hsl(0, 0%, 66%);
  --clr-red: hsl(0, 62%, 58%);
  --clr-dark-blue: rgb(17, 38, 53);

  --ff-text: 'Montserrat', sans-serif;

  --fs-sm: 1rem;
  --fs-med: 1.3rem;
  --fs-text: 2rem;

  --fw-text: 400;
  --fw-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  font-family: var(--ff-text);
}

.bg-img {
  flex-grow: 1;
  background-image: url(/assets/gary-scott-YvRTYzkT6Hs-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-logo-bg);
  position: sticky;
  height: 13vh;
  top: 20vh;
}

.logo {
  height: 55%;
  margin-right: 20px;
}

h1 {
  color: var(--clr-text-color);
  font-size: 3rem;
  letter-spacing: 6px;
}

.right {
  width: 60vw;
  background: var(--clr-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  color: var(--clr-text-color);
  font-size: var(--fs-med);
  font-weight: var(--fw-bold);
  line-height: 1.8rem;
}

.right-description {
  padding: 1.5rem 5vw 1.5rem 2vw;
}

.right-description>p:nth-of-type(3) {
  margin-top: 2.5rem;
}

form {
  display: flex;
  flex-wrap: wrap;
}

section {
  background: linear-gradient(to right, var(--clr-dark-blue), var(--clr-bg-color));
  margin-top: 3rem;
  padding: 1.5rem 5vw 1.5rem 2vw;
}

.form-container {
  max-width: 1100px;
}

.form-line-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 0.8rem;
  color: var(--clr-dark-gry);
  font-size: 0.8rem;
  min-width: 200px;
  width: 50%;
}

label {
  text-transform: uppercase;
}

input {
  background-color: var(--clr-bg-color);
  border: 1px solid var(--clr-bg-color);
  border-radius: 0.3rem;
  margin-right: 1rem;
  height: 1.8rem;
  color: var(--clr-dark-gry);
  font-size: var(--fs-sm);
}

input:focus {
  outline: 2px solid var(clr);
}

.error:invalid {
  outline: 2px solid hsl(0, 62%, 58%);
}

.error:valid {
  outline: 2px solid var(--clr-bg-color);
}

.invalid-password {
  color: hsl(0, 62%, 58%);
}

.form-line-container:nth-of-type(5) {
  position: relative;
}

.form-line-container>span {
  position: absolute;
  bottom: -26px;
}

.create-account-btn {
  margin: 2rem 0 0 2vw;
  font-size: 20px;
  font-weight: var(--fw-bold);
  padding: 1rem 3rem;
  border: 3px solid var(--clr-green-accent);
  border-radius: 0.4rem;
  background-color: var(--clr-bg-color);
  color: var(--clr-green-accent);
}

.create-account-btn:hover {
  background-color: var(--clr-green-accent);
  color: var(--clr-bg-color);
}

.login>p {
  padding-left: 2vw;
  margin-top: 2rem;
  font-size: var(--fs-sm);
  font-weight: var(--fw-text);
}

.login-btn {
  color: var(--clr-green-accent);
  background-color: var(--clr-bg-color);
  border: none;
  outline: none;
  font-weight: var(--fw-bold);
  font-size: var(--fs-sm);
}

.login-btn:hover {
  color: var(--clr-text-color);
}